CompileFlags: # Tweak the parse settings
  Add: [
    # --cuda-path=/usr/local/cuda-12.3,
    --cuda-path=/usr/local/cuda,
    # --cuda-path=/usr/local/cuda/include,
    --cuda-gpu-arch=sm_52,

    -Iexternals/eigen-3.4.0, 
    -Iexternals/tinycolormap-master/include,
    -Iexternals/cuda-12.2_linux/include,
    # -Iexternals/sciplot
  ]
